#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@font-face {
  font-family: 'KyivType Sans';
  src: url('./assets/font/KyivTypeSans-VarGX.ttf') format('truetype');
}


